

.one {
    width:100px;
    height:20px;
    margin:1px;
    display:block;
    background-color: white; 
    font: size 10pt;
    color: black; 
    font-family: 'Karla', sans-serif;
    text-align:center;
    border-top: 2px solid #C676AE;
    border-left: 2px solid #C676AE;
    border-bottom: 2px solid #C676AE; 
    border-right: 2px solid #C676AE; 
} 

a:hover.menubutton {
    background-color:#5B7793; 
}


h2 {
color: #C676AE;
}

